certifi==2021.10.8
charset-normalizer==2.0.7
click==7.1.2
click-default-group==1.2.2
cloup==0.7.1
colorama==0.4.4
colour==0.1.5
commonmark==0.9.1
dataclasses==0.7
decorator==4.4.2
glcontext==2.3.4
idna==3.3
importlib-metadata==4.8.2
manim==0.6.0
ManimPango==0.2.6
mapbox-earcut==0.12.11
moderngl==5.6.4
moderngl-window==2.4.0
multipledispatch==0.6.0
networkx==2.5.1
numpy==1.19.5
Pillow==8.4.0
pycairo==1.20.1
pydub==0.25.1
pyglet==1.5.21
Pygments==2.10.0
pyrr==0.10.3
requests==2.26.0
rethinkdb==2.4.8
rich==6.2.0
scipy==1.5.4
six==1.16.0
tqdm==4.62.3
typing-extensions==3.10.0.2
urllib3==1.26.7
watchdog==2.1.6
zipp==3.6.0
